<div class="container">
    <div class="card-box">
        <div class="card">
            <div class="text-align card-body">
                <div>
                    <img src="../../../assets/logo.png" alt="Logo">
                </div>
                <div>
                    <h3>Forgotten Your Password?</h3>
                </div>
            </div>
            <div class="padding">
                <form [formGroup]="myForm">
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Email" formControlName="email">
                        <span style="color: red;" *ngIf="Email && Email.invalid && Email.touched" >Valid Email Address is Required</span>
                    </div>
                    <div class="mb-2">
                        <button type="button" [disabled]="myForm.invalid" style="background-color: #e51b23; color:white;"
                            (click)="forgotPassword(myForm.value)" (click)="showSuccess()" class="btn  w-100" >Send
                            Reset Link
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
