<div class="container">
    <div class="card-box">
        <div class="card">
            <div class="text-align card-body">
                <div>
                    <img src="../../../assets/logo.png" alt="Logo">
                </div>
                <div class="mt-3">
                    <h4>Welcome To App</h4>
                </div>
            </div>
            <div class="padding">
                <div class="phone mt-2">
                    <div class="row row1">
                        <div class="col-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="currentColor"
                                class="bi bi-telephone-fill color-white " viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                                </path>
                            </svg>
                        </div>
                        <div class="col-11">
                            <button class="btn height-width-100 color-white  " routerLink="/signUpPhone">Continue With
                                Phone</button>
                        </div>
                    </div>
                </div>
                <div class="google  mt-2">
                    <div class="row">
                        <div class="col color-white">
                            <div>
                                <div id="g_id_onload"
                                    data-client_id="898746657207-4pa82kstfgohda8tr7koc9k2d5a87tc6.apps.googleusercontent.com"
                                    data-callback="handleResponse" data-auto_prompt="false">
                                </div>
                                <div class="g_id_signin w-100 google-btn " data-type="standard" data-size="large"
                                    data-theme="outline" data-text="sign_in_with" data-shape="square"
                                    data-logo_alignment="left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facebook mt-2 mb-3">
                    <div class="row">
                        <div class="col">
                            <div class="fb-login-button w-100" data-width="" data-size="large"
                                data-button-type="continue_with" data-layout="default" data-auto-logout-link="false"
                                data-use-continue-as="false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-align mt-2">
                    <p class="small-text">Already Have an Account<a style="color: blue;" routerLink="/login">Sign In</a>
                    </p>
                </div>
                <div class="text-align mt-2 ">
                    <p class="">Don't have an account ?
                        <a style="color: blue;" class="ms-1" routerLink="/signUp">SignUp</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
<button  class="g_id_signin btn height-width-100 color-white" data-type="icon" data-size="large" data-theme="outline"
data-text="sign_in_with" data-shape="circle" data-logo_alignment="left" id="g_id_onload" 
data-client_id="898746657207-4pa82kstfgohda8tr7koc9k2d5a87tc6.apps.googleusercontent.com"
data-callback="handleResponse" data-auto_prompt="false"  >
 Continue With Google
</button> -->