<div class="container">
    <div class="card-box">
        <div class="card">
            <div class="text-align card-body">
                <div>
                    <img src="../../../assets/logo.png" alt="Logo">
                </div>
                <div>
                    <h3>Sign Up</h3>
                </div>
            </div>
            <div class="padding">
                <form [formGroup]="myForm">
                    <div class="mb-2">
                        <select class="form-select" aria-label="Default select example" formControlName="country_code">
                            <option selected>Country/Region</option>
                            <option value="+91">+91</option>
                            <option value="+92">+92</option>
                            <option value="+93">+93</option>
                        </select>
                        <span style="color: red;" *ngIf="Country && Country.invalid && Country.touched">Required</span>
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="mobile" formControlName="mobile_number">
                        <span style="color: red;" *ngIf="Mobile && Mobile.invalid && Mobile.touched">Please Enter only valid Mobile
                            Number</span>
                    </div>
                    <div>
                        <button type="button" [disabled]="myForm.invalid" (click)="sendOtp(myForm.value)" routerLink="/verifyOtp" class="btn btn-danger w-100">Continue</button>
                    </div>
                </form>
                <div class="text-align mt-2">
                    <p class="small-text">You have already account in? <a style="color: blue;" routerLink="/login" >Sign In</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>