<div class="container">
    <div class="card-box">
        <div class="card">
            <div class="text-align card-body">
                <div>
                    <img src="../../../assets/logo.png" alt="Logo">
                </div>
                <div>
                    <h3>Welcome Back</h3>
                </div>
            </div>
            <div class="padding">
                <form [formGroup]="myForm">
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Email" formControlName="email">
                    </div>
                    <div class="mb-2">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    </div>
                    <div class="password mb-2">
                        <a ></a>
                        <a routerLink="/forgotPassword" >Forgot Password</a>
                    </div>
                    <div class="mb-2" >
                        <button type="button" (click)="login(myForm.value)"  class="btn w-100"  style="background-color: #e51b23; color:white;" routerLink="/dashboard" >Login</button>
                    </div>
                </form>
                <div class="text-align mt-2 ">
                    <p class="">Don't have an account ?<a style="color: blue;" class="ms-1"  routerLink="/signUp" >Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>